.image-card-back {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    transition: 0.3s;
    transform: scale(1.2);
}

.card {
    transition: 0.5s;
    box-sizing: border-box;
    color: var(--darkLight);
    max-height: 400px;
    overflow: hidden;
}

.btn-card-announcement{
    background-color: var(--acc);
    color: var(--main);
}

.btn-card-announcement:hover{
    background-color: var(--main);
    color: var(--acc);
    border: 1px solid var(--acc);
}

.delay {
    animation-delay: 1s;
}

.card:hover .image-card-back {
    transform: scale(1);
}

.card:hover .btn-card-announcement {
    background-color: var(--acc);
    color: var(--sec);
}

.card:hover {
    background-color: rgba(209, 194, 134, 0.626);
    color: var(--main);
    display: block;
}

.card:hover .button-text{
    color: var(--main);
}

/* card annunci */

.card-announcement {
    transition: 0.5s;
    box-sizing: border-box;
    color: var(--darkLight);
    max-height: 400px;
    overflow: hidden;
    background-color: rgba(209, 194, 134, 0.4);
    color: var(--main);
}

.image-card-announcement {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
}