:root {
    --main: rgb(255, 255, 255);
    --sec: rgb(239, 239, 239);
    --acc: rgb(209, 194, 134);
    --darkLight: rgb(62, 60, 60);
}

a{
    text-decoration: none;
}

ol, ul{list-style-type: none;}

/* helper system */

#logout{
    cursor: pointer;
}

.object-fit {
    object-fit: cover;
}

.vh-45 {
    height: 45vh;
}

.p-6 {
    padding: 6rem;
}

.p-9 {
    padding: 9rem;
}

.p-10{
    padding: 10rem;
}

.p-revisor{
    padding: 4px 16px !important;
}

.m-6 {
    margin: 6rem;
}

/* tester */
.bg {
    border: 1px solid red;
}

/* background color */
.bg-main {
    background-color: var(--main);
}

.bg-sec {
    background-color: var(--sec);
}

.bg-acc {
    background-color: var(--acc);
}

/* animazioni */
.animationUp {
    animation: fade-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: backwards;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animationDown {
    animation: fade-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes fade-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animationFadeWhite {
    animation: fadeWhite 1s linear;
}

@keyframes fadeWhite {
    100% {
        transition: opacity 0.5s ease-out, visibility 0s linear 0;
        visibility: visible;
        opacity: 1;
    }

    0% {
        transition: opacity 1s ease-out, visibility 0s linear 0.5s;
        visibility: hidden;
        opacity: 0;
    }
}

.animation-fade {
    animation: fade 0.4s linear;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* color text */
.text-main {
    color: var(--main);
}

.text-sec {
    color: var(--sec);
}

.text-acc {
    color: var(--acc);
}

.text-lightDark {
    color: var(--darkLight);
}

/* logo */
.logo {
    height: 4rem;
}

/* navbar */

.nav-link:hover {
    color: var(--acc);
    border-bottom: 2px solid var(--main);
}

/* Button search */
.btn-search:hover {
    color: var(--acc);
    border: 1px solid var(--acc);
}

.btn-search-white {
    color: var(--main);
    border: 1px solid var(--main);
    background: transparent;
}

.btn-search-white:hover {
    color: var(--acc);
    border: 1px solid var(--main);
    background: var(--main);
}

/* Button logout */
.btn-logout:hover {
    color: var(--acc);
    border: 1px solid var(--acc);
}

.btn-logout-white:hover {
    color: var(--main);
    border: 1px solid var(--main);
}

.btn-logout-white:hover {
    color: var(--acc);
    border: 1px solid var(--main);
    background: var(--main);
}

/* hover navbar */
.nav-scroll:hover,
.nav-scroll:focus {
    color: var(--main) !important;
    border-bottom: 2px solid var(--main) !important;
}

.nav-fixed:hover,
.nav-fixed:focus {
    color: var(--acc) !important;
    border-bottom: 2px solid var(--acc) !important;
}

.containerNav {
    padding: 0;
    z-index: 2;
    transition: 0.8s;
    width: 80%;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dropdown-divider{
    border-bottom: 1px  solid var(--acc);
}

/* button dettaglio */

.button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.button.learn-more {
    width: 12rem;
    height: auto;
}

.button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--acc);
    border-radius: 1.625rem;
}

.button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--acc);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.button:hover .circle {
    width: 100%;
}

.button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.button:hover .button-text {
    color: #fff;
}

/* footer */

footer {
    height: 40vh;
}

.hr-footer{
    border-top: 2px solid var(--acc);
}

.icon-footer {
    color: var(--acc);
    font-size: 1.3rem;
    margin: 8px 0px;
}

/* dimensioni immagine preview */
.img-preview {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Register & Login*/

.row-form{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: var(--sec);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);

}

.wrapper{
    background: var(--acc);
    padding: 0 20px 0 20px;
}

.img-side{
    background-image: url(../../public/media/salotto3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
    height: 25vh;
}

.input-box{
    width: 330px;
    box-sizing: border-box;
}

.input-box .title-form{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.input-custom{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--acc);
    outline: none;
    margin-bottom: 20px;
    color: var(--darkLight);
}

.input-box .box-form label{
    position: absolute;
    top: 30px;
    pointer-events: none;
    transition: .5s;
}

.box-form{
    position: relative;
}

.box-form .input-custom:focus ~ label{
    top: -18px !important;
    font-size: 13px;
}

.box-form .input-custom:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: var(--darkLight);
}

.form-control-custom:focus {
    color: var(--darkLight);
    background-color: transparent;
    border-color: var(--acc) !important;
    outline: 0;
    box-shadow: none !important;
}

.btn-register{
    margin-left: 5px;
    color: var(--darkLight);
    transition: .5s;
}

.btn-register:hover{
    padding: 5px 5px;
    border-bottom: 1px solid var(--darkLight);
}

.form-check-input:checked {
    background-color: var(--acc);
    border-color: var(--acc);
    box-shadow: var(--acc);
}

.form-check-input {
    background-color: var(--sec);
    border-color: var(--acc);
    box-shadow: var(--acc);
}

.form-check-input:focus {
    border-color: var(--acc);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(209, 194, 134, 0.25);
}

