:root {
    --main: rgb(255, 255, 255);
    --sec: rgb(239, 239, 239);
    --acc: rgb(209, 194, 134);
}

/* helper system */

.object-fit{
    object-fit: cover;
}

.vh-45{
    height: 45vh;
}

.p-6 {
    padding: 6rem;
}
.m-6 {
    margin: 6rem;
}

/* tester */
.bg {
    border: 1px solid red;
}

/* background color */
.bg-main {
    background-color: var(--main);
}
.bg-sec {
    background-color: var(--sec);
}
.bg-acc {
    background-color: var(--acc);
}
/* colore testo */

/* color text */
.text-main {
    color: var(--main);
}
.text-sec {
    color: var(--sec);
}
.text-acc {
    color: var(--acc);
}
/* logo */
.logo{
    height: 4rem;
}

/* navbar */

.nav-link:hover{
    color: var(--acc);
    border-bottom: 2px solid var(--main);
}

/* Button search */
.btn-search:hover{
    color: var(--acc);
    border: 1px solid var(--acc);
}

.btn-search-white{
    color: var(--main);
    border: 1px solid var(--main);
    background: transparent;
}

.btn-search-white:hover{
    color: var(--acc);
    border: 1px solid var(--main);
    background: var(--main);
}

/* Button logout */
.btn-logout:hover{
    color: var(--acc);
    border: 1px solid var(--acc);
}
.btn-logout-white:hover{
    color: var(--main);
    border: 1px solid var(--main);
}

.btn-logout-white:hover{
    color: var(--acc);
    border: 1px solid var(--main);
    background: var(--main);
}


/* hover navbar */
.nav-scroll:hover,
.nav-scroll:focus {
    color: var(--main) !important;
    border-bottom: 2px solid var(--main) !important;
}

.nav-fixed:hover,
.nav-fixed:focus{
    color: var(--acc) !important;
    border-bottom: 2px solid var(--acc) !important;
}

.containerNav {
    padding: 0;
    z-index: 2;
    transition: 0.5s;
}
.containerNav-padding { 
    padding: 10px 5rem;
    z-index: 2;
    transition: 0.5s;
}


/* button dettaglio */

.button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.button.learn-more {
    width: 12rem;
    height: auto;
}

.button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--acc);
    border-radius: 1.625rem;
}

.button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--acc);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.button:hover .circle {
    width: 100%;
}

.button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.button:hover .button-text {
    color: #fff;
}



/* footer */

footer{
    height: 40vh;
}

.height-footer{
    height: 40vh;
}

.icon-footer{
    color: var(--acc);
    font-size: 1.3rem;
    margin: 8px 0px;
}

/* button footer */
.button-footer {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--acc);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    width: 14rem;
}

.button:hover .button-footer {
    color: #fff;
}

.button:hover .circle-foot {
    width: 16rem;
}